body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #fcb4b4;
}

.calculadora{
    background-color: #61ac89;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(300, 200, 100, 0.2);
}

#Pantalla{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

.teclas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #a69aeb;
    transition: background-color 0.2s;

}

@keyframes shake {
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

button:active {
    transform: scale(0.75);
    animation: shake 0.1s;
}

button:hover{
    background-color: #fca8a8;
}

button.igual{
    background-color: #443e7a;
    color: white;
    grid-column: span 2;
}
